<div class="row">
  <div *ngFor="let project of projects; let i = index">    
    <div class="clearfix" *ngIf="i % 4 == 0"></div>
    <div class="col-xs-12 col-md-3">  
      <a [routerLink]="['/projectdetail', project.id]" class="thumbnail project">
        <img [src]="project.img" [alt]="project.name" />
        <div class="caption">
          <programming-languages [names]="project.languages"></programming-languages>
          <h3>{{project.name}}</h3>
        </div>
      </a>
    </div>
  </div>
</div>