<div class="container-fluid container-content" *ngIf="project">
    <div class="projectdetail">
        <img [src]="project.img" [alt]="project.name" style="height: 150px" />
        <h2>{{project.name}}</h2>
        <div>
            <carousel interval="5000" noWrap="false">
            <slide *ngFor="let slidez of slides; let index=index">
                    <img [src]="slidez.image" class="carouselimg" />
                    <div class="carousel-caption">
                        <h4>Slide {{slidez.id}}</h4>
                        <p>{{slidez.text}}</p>
                    </div>
                </slide>
            </carousel>
        </div>
        <p>{{project.description}}</p>
    </div>
    <div class="projects hidden-mm hidden-sm hidden-xs" style="background: red">
        qsdfqsdfqsdf
        <projectlist></projectlist>
    </div>     
</div>